# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code which you may wish to be included in version control, so this line
# is commented out by default.

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins-dependencies
/build/
/coverage/
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
