name: bordered_text
description: Flutter plugin for applying subtle stroke to a Text widget. Supports Android, iOS, and Web.
version: 3.0.0
homepage: https://github.com/tewshi/bordered-text

environment:
  sdk: '>=3.10.0 <4.0.0'
  flutter: ">=1.17.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^6.0.0

flutter:
